<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redireciona todas as solicitações que não são para a pasta 'public'
    # para dentro dela, evitando loops.
    RewriteCond %{REQUEST_URI} !public/
    RewriteRule (.*) /public/$1 [L]
</IfModule>